<div class="container">
  <button
    type="button"
    class="change-base btn btn-secondary back"
    *ngIf="!show"
    (click)="hide()"
  >
    I want to select another base
  </button>

  <div class="container bases" *ngIf="show">
    <h3>Pick your base</h3>
    <div *ngFor="let base of bases; let i = index">
      <div class="row" *ngIf="i % 4 === 0">
        <div
          *ngFor="
            let item of [bases[i], bases[i + 1], bases[i + 2], bases[i + 3]]
          "
          (click)="searchByIngridient(item.name)"
        >
          <div *ngIf="item">
            <div class="col-sm-12 col-xs-12">
              <div class="card" style="width: 12rem">
                <div class="card-title">
                  <h4>{{ item.name }}</h4>
                </div>
                <div class="card-image">
                  <img
                    class="ing-image"
                    src="{{ item.image }}"
                    alt="Card image cap"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!show">
    <app-show-cocktail [resByIng]="searchResults"></app-show-cocktail>
  </div>
</div>
